.becascard:hover {
    box-shadow: 5px 10px 20px 1px rgb(24, 24, 24) !important;
    transition: all 0.7s linear;
  }

.cardHeight{
  height: 100% !important;
}
.cardbackgroundcolor{
  background-color: #000000 !important;
}
.cardbackgroundcolor2{
  background-color: #7c7c7c00 !important; /*transparente*/
  text-align: center;
}
.ListGroupItem{
  background-color: transparent !important;
  border-top: 1px solid #ddd;
  border-radius: 0;
  color: #fff;
  }
.cardwidth{
  height: 100%   !important;
}
/* .overflow {
  overflow: hidden;
} */

/* .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
} */

/* .card-img-top:hover {
  transform: scale(1.8);
} */
