#root{
  /* text-align: center; */
  background-color: #474747;
  min-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ff0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.Cardsytle{
  height: 100vh; /*100% viewport del dispositivo*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Scrollbarrrrrrr cusstommmmmmmm*/

.scroll::-webkit-scrollbar{
  width: 10px;
  height: 1em;
}


.scroll::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border: 0.25em solid rgb(0, 0, 0);
  border-radius: 100vw;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129);
}


.scroll {
  max-height: 500px;
  overflow-y: auto;
  
}

/* scrollbar gestion*/
.scroll2::-webkit-scrollbar{
  width: 5px;
  height: 1em;
}


.scroll2::-webkit-scrollbar-thumb {
  background: rgb(54, 54, 54);
  border: 0.25em solid rgb(46, 46, 46);
  border-radius: 100vw;
}

.scroll2::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129);
}
.scroll2{
  max-height: 500px;
  overflow-y: auto;
  
}
.navbar-custom {
  background-color: #131313;
}
.CarouselX .ItemX {
  height: 480px;
}